@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

html {
  min-width: 100%;
  width: 100%;
}

body {
  font-family: "Comic Sans", sans-serif;
  background: black;
  overflow-x: hidden;
  height: 100vh;
}

.page {
  width: 100%;
  height: 100%;
  height: auto;
  padding-bottom: 256px;
}

button, a, Link {
  cursor: pointer;
}